{% extends 'base/base.html' %} {% load static %}{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/articles.css' %}">
<div class="dessinEtarticle-conatiner">
  <div class="dessinEtravito-container">
    <div class="ravito-container">
      <div class="texte-ravito"> THE </div>
      <img src="{% static 'images/logo-ravito-dessin.svg' %}" alt="ravito dessin" class="logo-ravito-dessin" />
    </div>
    <div class="dessin-container">
      <img src="{% static 'images/dessinMAUNA.png' %}" alt="dessin-mauna" class="dessin" />
    </div>
  </div>
  <div class="page-article-container">
    <div class="articles-container row w-100 d-flex"> {% comment %} <div class="barre-recherche-conatainer">
        <div class="iconeETtexte-conatiner">
          <img src="{% static 'images/recherche.svg' %}" alt="icone-recherche" class="icone-recherche" />
          <div class="texte-recherche"> Search sports, themes, key words.... </div>
        </div>
      </div> {% endcomment %} 
        <div class="titre-groupe-articles-conatiner">
          <div class="titre-groupe-articles"> The latest articles </div>
        </div>
        <div class="row d-flex justify-content-start">
          {% for article in already_available_articles %}
          <div class="col-12 col-md-4 col-lg-4 col-sm-12">
            <a href="{% url 'article' %}" style="text-decoration:none">
              <div class="article-container">
                <div class="date-publi-container">
                  <div class="date-publi"> 1 Feb, 2024 </div>
                </div>
                <div class="imageETtypeETtitre-container">
                  <div class="imageETtype-container">
                    <div class="image-container">
                      <img src="{{article.main_image.url}}" alt="image article 1" class="image" />
                    </div>
                    <div class="type-container">
                      <div class="type-content-container">
                        <div class="type-texte"> Methodology </div>
                      </div>
                      <div class="type-content-container">
                        <img src="{% static 'images/trait.svg' %}" alt="trait" class="type-trait" />
                      </div>
                      <div class="type-content-container">
                        <div class="type-texte"> Endurance sports </div>
                      </div>
                    </div>
                    <div class="titre-article-container">
                      <div class="titre-article"> {{article.title_fr}} </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}

        </div>
          <div class="titre-groupe-articles-conatiner">
            <div class="titre-groupe-articles"> Coming Soon </div>
          </div>
          <div class="row d-flex justify-content-start">
            {% for article in coming_soon_articles %}
            <div class="col-12 col-md-4 col-lg-4 col-sm-12">
              <a href="" style="text-decoration:none">
                <div class="article-container">
                  <div class="date-publi-container">
                    <div class="date-publi"> {{article.formatted_date}} </div>
                  </div>
                  <div class="imageETtypeETtitre-container">
                    <div class="imageETtype-container">
                      <div class="image-container">
                        <img src="{{article.main_image.url}}" alt="image article 1" class="image" />
                      </div>
                      <div class="type-container">
                        <div class="type-content-container">
                          <div class="type-texte"> Methodology </div>
                        </div>
                        <div class="type-content-container">
                          <img src="{% static 'images/trait.svg' %}" alt="trait" class="type-trait" />
                        </div>
                        <div class="type-content-container">
                          <div class="type-texte"> Endurance sports </div>
                        </div>
                      </div>
                      <div class="titre-article-container">
                        <div class="titre-article"> {{article.title_fr}} </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
    </div> {% endblock %}