{% extends 'base/base.html' %} {% load static %}{% block content %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/article1.css' %}">

        <div class="article-container">
            <div class="titreETarticle-container">
                <div class="titre-article-container">
                    <div class="titre-article">
Savez-vous définir l’entraînement ?
                    </div>
                </div>
                <div class="imageETtexte-conatiner">
                    <div class="imageETdateETtype-container">
                        <div class="image-container">
                            <img src="{% static 'images/article1.png' %}" alt="image article1" class="image" />
                        </div>
                        <div class="date-publi-container">
                            <div class="date-publi">
                                1 Feb, 2024
                            </div>
                        </div>
                        <div class="type-container">
                            <div class="type-content-container">
                                <div class="type-texte">Méthodologie</div>
                            </div>
                            <div class="type-content-container">
                                <img src="{% static 'images/trait.svg' %}" alt="type-trait " class="type-trait" />
                            </div>
                            <div class="type-content-container">
                                <div class="type-texte">Sports d'endurance</div>
                            </div>
                        </div>
                    </div>
                    <div class="texte-intro-container">
                        <div class="texte-intro">
Le dictionnaire Larousse nous dit que l’entraînement est la “préparation régulière et méthodique à un exercice physique ou intellectuel”. Platonov, un scientifique du sport du siècle dernier, définit l’entraînement comme un “processus d’accoutumance (= d’adaptation) de l’organisme à différentes contraintes, l’entraînement sollicite des réactions organiques, psychiques et affectives et celui-ci doit être structuré”. L’entraînement est donc un ensemble de pratiques formalisées qui a pour but de faire progresser les athlètes dans leur recherche d’excellence. </div>
                    </div>
                    <div class="texte-corps-container">
                        <div class="phrase-intro">
L’athlète cherche la performance par l’entrainement.
                        </div>
                        <div class="texte-corps-blanc">
Même s’il y a autant de façons de s’entraîner que d’athlètes, on observe tout de même des grandes étapes indispensables pour optimiser la performance : </div><br>
                        <div class="titre-elements-entrainement">
                            1.  Analyser l’activité dans laquelle vous voulez performer
                        </div>
                        <div class="elements-entrainement">
Brièvement, analyser les facteurs de performance de votre sport vous permettra d’orienter intelligemment votre entraînement.          </div><br>
                        <div class="titre-elements-entrainement">
                            2.  Tester et évaluer
                        </div>
                        <div class="elements-entrainement">
Rapidement, c’est indispensable pour savoir où vous en êtes, quelles qualités vous avez et comprendre les facteurs qui limitent votre performance.                </div><br>
                        <div class="titre-elements-entrainement">
                            3.  S’entraîner
                        </div>
                        <div class="elements-entrainement">
                            Spoiler... On ne va pas le faire à votre place.
                        </div><br>
                        <div class="titre-elements-entrainement">
                            4.  Respecter tous les principes fondamentaux de l’entraînement :
                        </div>
                        <div class="elements-entrainement">
Ci-dessous, un exemple de quelques principes cruciaux que vous devez respecter lors de votre entraînement. Les principes sont simples et pourtant leur application demande de l’expérience et de l’expertise. Rares sont ceux qui y arrivent, notamment à cause des biais cognitifs. Concrètement, l’athlète est trop souvent influencé de manière inconsciente par son environnement, ce qui l’amène à être irrationnel et détourné de la réalité. Mauna a pour vocation de vous accompagner dans cette démarche saine et holistique.    </div>
                    </div>
                    <div class="dessin-graph-container">
                        <div class="dessin-graph">
                            <img src="{% static 'images/dessinArticle1.svg' %}" alt="dessinArticle1" class="dessin-graph" />
                        </div>
                    </div>
                    <div class="texte-corps-container">
                        <span class="titre-principes-entrainement-puce">  •  </span>
                        <span class="titre-principes-entrainement">L’individualisation</span>
                        <div class="texte-principes-entrainement">
Probablement le principe le plus important. Tous les sportifs sont uniques, revendiquez votre identité ! Qu’est-ce qui vous caractérise, quels sont vos antécédents (blessures), quel est votre travail ? Qu’est-ce que vous mangez, comment dormez-vous, que faites-vous à l’entraînement ? <br>
Un même exercice n’aura pas les mêmes répercussions chez des athlètes différents, c’est d’ailleurs pour cela que le concept de charge d’entraînement est divisé en deux: d’une part la charge externe et d’autre part la charge interne. Dès lors, on peut noter l’intérêt des épreuves ou test d’effort pour mieux connaitre son corps et ses capacités. La charge d’entraînement est une donnée très importante puisqu’elle vient représenter numériquement vos séances d’entraînement. </div><br>
                        <span class="titre-principes-entrainement-puce">  •  </span>
                        <span class="titre-principes-entrainement">La progressivité</span>
                        <div class="texte-principes-entrainement">
Sans surprise, vous avez probablement tous entendu celui là. Les stimuli d’entraînement doivent être croissants pour éviter une surcharge trop rapide sur votre corps, sinon vous vous exposez à une blessure (mécanique), de la fatigue (physiologique), ou de la démotivation (psychologique).  <br>
L’athlète doit être progressif à toutes les échelles. (1) Celle d’une séance : commencer par un échauffement par exemple. (2) Celle des cycles d’entraînement : d’abord augmenter le volume (le nombre et la durée des séances hebdomadaires) puis l’intensité des séances. (3) Celle d’une saison sportive : réaliser très peu de séances spécifiques loin de vos objectifs et en faire beaucoup plus à l’approche de la compétition.</br>
Un enjeu majeur, c’est de trouver une relation optimale entre l’entraînement et le repos pour induire les adaptations qui vous mèneront aux succès de vos compétitions.                        </div><br>
                        <span class="titre-principes-entrainement-puce">  •  </span>
                        <span class="titre-principes-entrainement">La spécificité</span>
                        <div class="texte-principes-entrainement">


L’entraînement doit être orienté dans une direction spécifique afin de provoquer les adaptations souhaitées. Est-ce qu’un entraînement de curling sur gazon va me permettre de progresser en cyclisme ? Non. Est-ce qu’un entraînement sur vélo va me permettre de développer certaines qualités en trail ? Oui. Est-ce que faire des étirements passifs et longs pour augmenter la souplesse au niveau des tendons d’Achille va m’être bénéfique en course à pied ? Non.</br>                           
         
C’est l’analyse de l’activité dans laquelle vous souhaitez performer qui vous permet de définir l’intérêt d’une séance dans votre processus d’entraînement. Vous pouvez aussi laisser un coach faire ce travail à votre place.</div><br>
                        <span class="titre-principes-entrainement-puce">  •  </span>
                        <span class="titre-principes-entrainement">La continuité</span>
                        <div class="texte-principes-entrainement">
L’arrêt de l’entraînement (hormis la coupure annuelle) est un temps perdu dans la progression car l’athlète se désadapte relativement rapidement des gains obtenus des séances. Dans cette optique, il faut exclure toute interruption injustifiée. Pour cela, il y a encore trois champs d’action: (1) ne pas se blesser, (2) ne pas provoquer une fatigue chronique, (3) rester motivé.</br>                           
Pour respecter une continuité dans l’entraînement, vous aurez parfois l’impression de faire la même chose. Mais grâce aux adaptations aiguës de l’entraînement : répéter ce n’est pas recommencer. Répéter une succession judicieuse de séances d’entraînement, c’est ce qui vous mènera à la performance. </div><br>
                        <span class="titre-principes-entrainement-puce">  •  </span>
                        <span class="titre-principes-entrainement">La variété</span>
                        <div class="texte-principes-entrainement">
Un dernier pour la route. Varier, moduler, jouer avec les différentes variables d’un entraînement pour éviter la stagnation et la monotonie. Les variables de l’entraînement fondamentales répondent au nombre de 3: le volume (la quantité), l’intensité (la qualité) et l’organisation (la densité) des séances. La modalité de l’entraînement (ou le type) est aussi importante. In English, we talk about the FITT (= Frequency, Intensity, Time, Type).</br>
Il est donc nécessaire de faire des séances dures (pas beaucoup) et faciles (beaucoup). Parfois il faut s’entrainer, parfois il faut se reposer. Parfois, il faut s’entraîner un peu plus à vélo, et d’autres fois un peu plus en course à pied…  
  
  
                        </div><br>
                    </div>     
                    <div class="texte-conclusion-container">
                        <div class="texte-conclusion">
Enfin, même si l’un des objectifs est d’améliorer les performances, l’entraînement doit surtout être un plaisir et vous permettre de vous sentir épanoui. Il existe une multitude de principes. L’individualisation, la progressivité, la spécificité, la continuité et la variété sont indispensables pour s’entraîner intelligemment et atteindre votre plein potentiel. Certains sont propres à chaque entraîneur et ils sont à destination d’athlète unique, comme vous !             </div>
                    </div>
                    <div class="texte-references-container">
                        <div class="titre-references">
                            Références:
                        </div>
                        <ul class="liste-references">
                            <li>Billat, V. (2017). Physiologie et méthodologie de l'entraînement. De Boeck Supérieur. (1)</li>
                            <li>DDupont, G. (2007). Méthodologie de l’entraînement. Ellipses. (2)</li>
                            <li>Platonov, V. N. (1988). L'entraînement sportif: théorie et méthodologie. Revue d’EPS. (3)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}