  {% load static %}
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta property="og:site_name" content="Mauna AI">
      <meta property="og:title" content="Mauna - Unlock your hidden potential" />
      <meta property="og:description" content=" Mauna is a solution gathering multiple factors and then using AI to optimize sport performances and reduce injuries." />
      <meta property="og:image" itemprop="image" content="https://mauna-ai.com/static/images/mauna.png">
      <meta property="og:type" content="website" />

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+HzFEx3g0DpTJv7aA8CqVgCJoDZJ+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/solid.min.css" integrity="sha512-P9pgMgcSNlLb4Z2WAB2sH5KBKGnBfyJnq+bhcfLCFusrRc4XdXrhfDluBl/usq75NF5gTDIMcwI1GaG5gju+Mw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"> </script>     
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      <link rel="icon" href="https://mauna-ai.com/static/images/favicon.ico" type="image/x-icon">
      <title>Mauna</title> 

    </head>
        <body>


          <nav class="d-flex justify-content-between align-items-center">


      <input type="checkbox" id="check">

      <input type="checkbox" id="check">
     <label class="logo">
  <div class="logo-container">
            <img src="{% static 'website/logo-mauna.svg'%}" alt="logo Mauna" class="logo-mauna" />
            <span class="text-mauna">MAUNA</span>
                </div>      </label>
      <label for="check" class="checkbtn">
        <div id="btn" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </label>
 

      <ul style="margin-top: auto;
    margin-bottom: auto;" id="myUl">
        <li>
          <a  href="#MaunaSolution-container" onclick="my2Function(btn)" class="scroll-link">SOLUTION</a>
        </li>
        <li>
          <a  href="#MaunaProduct" onclick="my2Function(btn)" class="scroll-link">R&D</a>
        </li>
        <li>
          <a  href="https://calendly.com/mauna-ai/30min" traget="_blank" class="scroll-link">BECOME BETA-TESTER</a>
        </li>
        <li>
            <a href="{% url 'articles' %}">
          <img src="{% static 'images/logo-ravito-menu.svg' %}" alt="ravito menu" class="logo-ravito-menu" style="vertical-align: inherit !Important;"/>
            </a>
        </li>

      </ul>
  
    </nav>

{% block content %}
{% endblock content %}
            <div class="row w-100 d-flex justify-content-center mt-3">

                     <a href="https://www.linkedin.com/company/ai-mauna/" style="width:auto !important;    color: #1A4159;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;" target="_blank" class="m-2"> <span class="fa fa-linkedin"></span></a>
                    <a  href="https://instagram.com/mauna.ai" style="width:auto !important;    color: #1A4159;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;" target="_blank" class="m-2"> <span class="fa fa-instagram"></span></a>
            </div>
          <div class="row w-100 d-flex justify-content-center mb-4 text-center">

               <a  href="{% url 'privacy_policy' %}" style="width:auto !important;    color: #1A4159;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;" >Privacy Policy</a>
          </div>
</body>
</html>