{% extends 'base/base.html' %} {% load static %}{% block content %}
<div class="container">
    <style>
    body{
        color:#1A4159 !important;
    }
    h5{
        margin-top:4px;
         margin-bototm:4px;
    }
    </style>

  <h1>Mauna FAQ</h1>

    <h5>Do I need to connect a smartwatch to use Mauna?</h5>
    <p>No, you do not need to have a specific sports smartwatch to use Mauna. While connecting a smartwatch allows us to automatically collect activity and sleep data, you can also link your Strava account or manually enter your data.</p>

    <h5>I use a smartwatch and Strava. Which tools should I connect?</h5>
    <p>You can connect both the smartwatch and Strava without worrying about duplicating information in the app. If you typically upload your smartwatch data to Strava, connecting both your smartwatch and Strava to Mauna will allow us to collect all your data seamlessly. However, if you prefer, you can choose to connect only one of the two, and it will still work just fine.</p>

    <h5>Do I need to enter my data every day?</h5>
    <p>Our performance prediction algorithms are based on the data you provide in the app. The more precise and regularly updated your data, the more accurate our recommendations will be. However, we understand that you may have time constraints or may occasionally forget to enter your data. Don't worry, our performance score also takes into account past days, and we can still provide you with results even if you miss a day or don't fill in a specific block.</p>

    <h5>Do you retrieve past data history?</h5>
    <p>Yes, we retrieve between 30 and 60 days of activity data depending on the tool you connect to Mauna. This allows us to use these data points to provide an initial estimation of your level in the sport you practice.</p>

    <h5>What is the purpose of the "All Done" button?</h5>
    <p>This button lets us know that you have fully completed entering your data for the day and that nothing has been missed accidentally. For example, if you decide not to eat dinner, by clicking "All Done," we understand that it is a deliberate choice on your part and not an oversight.</p>

    <h5>Are the recommendations and intervals provided by the app specific to me?</h5>
    <p>Yes, all our recommendations, scores, and intervals are tailored specifically to your data, including your basic metabolism (weight, height, age, sex), your fitness level, and the intensity of your efforts. The information provided by Mauna is personalized and cannot be replicated from one person to another.</p>

    <h5>How can my coach see my data, performance score, and the recommendations provided by Mauna?</h5>
    <p>The coach platform is currently in development. Once available, it will allow your coach to access all your information and take the necessary measures to adjust your training plan accordingly.</p>

    <h5>I'm having trouble getting started with the app, what should I do?</h5>
    <p>Although we have put a lot of effort into making the user experience as smooth as possible, the app may seem complex at first. To help you get started, we offer video call slots to answer all your questions and assist you with using the app.<br>
    Feel free to book a slot directly via this link: <a href="https://calendly.com/gaspard-espitallier/30min?month=2024-06">https://calendly.com/gaspard-espitallier/30min?month=2024-06</a></p>

</div>
{% endblock%}