  {% load static %}
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta property="og:site_name" content="Mauna AI">
      <meta property="og:title" content="Mauna - Unlock your hidden potential" />
      <meta property="og:description" content=" Mauna is a solution gathering multiple factors and then using AI to optimize sport performances and reduce injuries." />
      <meta property="og:image" itemprop="image" content="https://mauna-ai.com/static/images/mauna.png">
      <meta property="og:type" content="website" />

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+HzFEx3g0DpTJv7aA8CqVgCJoDZJ+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/solid.min.css" integrity="sha512-P9pgMgcSNlLb4Z2WAB2sH5KBKGnBfyJnq+bhcfLCFusrRc4XdXrhfDluBl/usq75NF5gTDIMcwI1GaG5gju+Mw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"> </script>     
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      <link rel="icon" href="https://mauna-ai.com/static/images/favicon.ico" type="image/x-icon">
      <title>Mauna</title> 

    </head>
        <body>


          <nav class="d-flex justify-content-between align-items-center">


      <input type="checkbox" id="check">

      <input type="checkbox" id="check">
     <label class="logo">
  <div class="logo-container">
            <img src="{% static 'website/logo-mauna.svg'%}" alt="logo Mauna" class="logo-mauna" />
            <span class="text-mauna">MAUNA</span>
                </div>      </label>
      <label for="check" class="checkbtn">
        <div id="btn" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </label>
 

      <ul style="margin-top: auto;
    margin-bottom: auto;" id="myUl">
        <li>
          <a  href="#MaunaSolution-container" onclick="my2Function(btn)" class="scroll-link">SOLUTION</a>
        </li>
        <li>
          <a  href="#MaunaProduct" onclick="my2Function(btn)" class="scroll-link">R&D</a>
        </li>
        <li>
          <a  href="https://calendly.com/mauna-ai/30min" traget="_blank" class="scroll-link">BECOME BETA-TESTER</a>
        </li>


      </ul>
  
    </nav>


<script>
  function myFunction(x) {
    x.classList.toggle("change");
  }
  </script>
  <script>
  function my2Function(x) {
   document.getElementById('check').checked=false;
   x.classList.toggle("change");
  }
 </script>

     <div class="w-100">

        <div class="Background">
            <div class="w-100 d-flex justify-content-center iceberg-container-web" style="height:100vh !important; overflow:hidden;flex-basis: fit-content;"> 
           <div class='iceberg-container' style="">
            <img src="{% static 'website/iceberg.svg'%}" alt="Iceberg" class="icebergImage" />
<img src="{% static 'website/petit iceberg-g.svg'%}" alt="Petit Iceberg G" class="petitIcebergG" />
            <img src="{% static 'website/petit iceberg-d.svg'%}" alt="Petit Iceberg D" class="petitIcebergD"  />  
             <img src="{% static 'website/carte1.svg'%}" alt="Carte 1" class="carte1" />
            <img src="{% static 'website/carte2.svg'%}" alt="Carte 2" class="carte2" />
            <img src="{% static 'website/carte3.svg'%}" alt="Carte 3" class="carte3" />
            <img src="{% static 'website/carte4.svg'%}" alt="Carte 4" class="carte4" />
            <img src="{% static 'website/carte5.svg'%}" alt="Carte 5" class="carte5" />
            <img src="{% static 'website/carte6.svg'%}" alt="Carte 6" class="carte6" />
            <img src="{% static 'website/carte7.svg'%}" alt="Carte 7" class="carte7" />
            <img src="{% static 'website/carte8.svg'%}" alt="Carte 8" class="carte8" />
            <img src="{% static 'website/carte9.svg'%}" alt="Carte 9" class="carte9" />
            <img src="{% static 'website/carte10.svg'%}" alt="Carte 10" class="carte10" />
            <img src="{% static 'website/carte11.svg'%}" alt="Carte 11" class="carte11" />
            <img src="{% static 'website/carte12.svg'%}" alt="Carte 12" class="carte12" />
            <img src="{% static 'website/carte13.svg'%}" alt="Carte 13" class="carte13" />
            <img src="{% static 'website/carte14.svg'%}" alt="Carte 14" class="carte14" /> 
     <div class="typewriter-container" style="top: 732px; right: 56px ">
              <div class="typewriter-text" id="text1">UNLOCK</div>
            </div>
            <div class="typewriter-container" style="top: 792px; right: 56px ">
              <div class="typewriter-text" id="text2">YOUR </div>
            </div>
            <div class="typewriter-container" style="top: 852px;right: 56px ">
              <div class="typewriter-text" id="text3">HIDDEN POTENTIAL.</div>
            </div> 
          </div> 

<button class="get-started-btn" onclick="scrollToSection('get-started-btn', 'MaunaSolution-container')">
  Get Started
</button>
    </div>

                <div class="w-100 row justify-content-center iceberg-container-mobile mt-5" style="height:550px !important; overflow:hidden; display:none; position:relative"> 
           <div class='row d-flex justify-content-center' >
          <img src="{% static 'website/banner.png' %}" style="object-fit:contain">
             </div>

                     <div class="row w-100 d-flex justify-content-center"> 
     <div class="typewriter-container" >
              <div class="typewriter-text" id="text1">UNLOCK YOUR</div>


              <div class="typewriter-text" id="text2">HIDDEN POTENTIAL. </div>
      
   
            </div> 
          </div> 
           <div class="row w-100 d-flex justify-content-center"> 
 


<button class="get-started-btn"  style="width:auto !important" onclick="scrollToSection('get-started-btn', 'MaunaSolution-container')">
  Get Started
</button>
</div>
    </div>
    
       
        <div class='secondSection-container mt-2'>
          <div class='thematics-container'>
       
      <div class="MaunaSolution-container" id='MaunaSolution-container' style=" display: flex;padding: 80px 120px;flex-direction: column;align-items: center;gap: 80px;border-radius: 20px;border: 2px solid #5AC5F2;background: #001;	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03);">
              <div class='row w-100 d-flex justify-content-center'>
                <div class='row d-flex w-100 mb-5'>
                  <div class='col-md-3 col-sm-12 d-flex flex-column justify-content-center'>
                    <img src="{% static 'website/Centralize.svg'%}" alt="logo Centralize" class="logo1 img-fluid"/>
                    <p class='solution-title mt-1'>ONE PLACE</p>
                  </div>
                  <div class='col-md-9 col-sm-12 d-flex flex-column justify-content-between'>
                    <p class='solution-text'>Mauna gathers in one single place multiple factors relevant to the athlete's performance:</p>
                    <ul class='solution-text-list'>
                      <li>Nutrition</li>
                      <li>Sleep</li>
                      <li>Health</li>
                      <li>Sport Activity </li>
                      <li>Extras (screen time, symptoms, period, and others). </li>
                    </ul>
                  </div>
                </div>
                <div class='row d-flex w-100 mb-5'>
                  <div class='col-md-3 col-sm-12 d-flex flex-column justify-content-between'>
                    <img src="{% static 'website/AI.svg'%}" alt="logo AI" class="logo1"/>
                    <p class='solution-title mt-1'>ADVANCED AI</p>
                  </div>
              <div class=' col-md-9 col-sm-12  d-flex flex-column justify-content-between'>
                    <p class='solution-text'>Mauna's algorithms derive scores from these factors to assess the following:</p>
                    <ul class='solution-text-list mt-4'>
                      <li>The athlete's performance status</li>
                      <li>The athlete's risk of injury</li>
                    </ul>
                    <p class='solution-text'>The athlete can then understand which factors exactly are impacting his scores.</p>
                  </div>
                </div>
              <div class='row d-flex w-100'>
                  <div class='col-md-3 col-sm-12 d-flex flex-column justify-content-between'>
                    <img src="{% static 'website/Test.svg'%}" alt="logo Test" class="logo1"/>
                    <p class='solution-title mt-1'>PHYSIO TESTS</p>
                  </div>
                <div class='col-md-9  col-sm-12  d-flex flex-column justify-content-between'>
                    <div class='solution-text d-flex flex-column justify-content-between'>
                      <p class="mt-3">Mauna offers the athlete a great understanding of the complementary tests he can do to access deeper information on his physiology.</p>
                      <p class="mb-3">Mauna also provides the athlete with the possibility to do them easily, taking into account his location and preferred time.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
         <div class="MaunaProduct" id="MaunaProduct">
              <div class='row w-100 d-flex justify-content-start'>
                <p class='title-product'>Power of software at your fingertips.</p>
              </div>
              <div class='row w-100 d-flex justify-content-center'>
                <div class='col-md-7 col-sm-12  d-flex flex-column justify-content-between align-items-start order1' style="flex-direction: column;gap: 25px;flex: 1 0 0;">
                  <div class='text-product h-100  d-flex flex-column justify-content-between align-items-between' >
                    <p class="mb-2">Acces MAUNA trhough your smartphone or computer.</p>
                    <p class="my-4">Get personalized recommendations on optimising sleep duration and dietary changes to the nature of training sessions and alerts about potential injury risks.</p>
                    <p class="mt-2">By utilising MAUNA, athletes and coaches can gain a clear understanding of how the athlete's body operates, benefit from simplified scientific explanations, and receive direct insights for enhanced decision-making.</p>
                  </div>
                </div>
                <div class='col-md-5 col-sm-12 d-flex flex-column justify-content-end align-items-end order2' >
                  <img src="{% static 'website/Iphone&Computer.png'%}" alt="Iphone & Computer" class='image-product' style="object-fit:contain;width:100%"/>
                </div>
              </div>
              <div class='devices-container'>
                <div class='row w-100 d-flex justify-content-start'>
                  <p class='title-devices'>Connect MAUNA to your devices and platforms.</p>
                </div>
                <div class='bandeau-defilant'>
                  <div class='boxes'>
                    <div class='box py-3'>
                      <img src="{% static 'website/Garmin.svg'%}" alt="Garmin" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Coros.svg'%}" alt="Coros" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Polar.svg'%}" alt="Polar" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Suunto.svg'%}" alt="Polar" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Strava.svg'%}" alt="Strava" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Intervals.svg'%}" alt="Intervals" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Garmin.svg'%}" alt="Garmin" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Coros.svg'%}" alt="Coros" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Polar.svg'%}" alt="Polar" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Suunto.svg'%}" alt="Polar" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Strava.svg'%}" alt="Strava" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Intervals.svg'%}" alt="Intervals" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Garmin.svg'%}" alt="Garmin" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Coros.svg'%}" alt="Coros" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Polar.svg'%}" alt="Polar" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Suunto.svg'%}" alt="Polar" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Strava.svg'%}" alt="Strava" />
                    </div>
                    <div class='box py-3'>
                      <img src="{% static 'website/Intervals.svg'%}" alt="Intervals" />
                    </div>
                    
                  </div>
                </div>
              </div>
            </div> 
<div class="MaunaDataBase">
 <style>
.animation-item {
    opacity: 0;
    transform: translateY(0.9375rem); /* Example value for brand-animation-variant-slideInUp-distance */
    transition: opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1), transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.animation-item.animate {
    opacity: 1;
    transform: translateY(0);
}

</style>
              <div class="currentlyBuilding-container">
                <p class="titre-buildingDataBase">Currently building a world unique database...</p>
                <div class="row w-100 d-flex justify-content-center ">
                        <div class="text-numbers animatedtext col-sm-12 col-md-2 d-flex flex-column justify-content-center align-items-start animation-item " style="transition-delay:0ms;">
                            <span style="color: #5AC5F2;font-family: Poppins;font-size: 50px;font-style: normal;font-weight: 600;line-height: normal">+150</span> 
                            athletes
                        </div>
                   <div class="text-numbers animatedtext col-sm-12 col-md-2 d-flex flex-column justify-content-center align-items-center animation-item" style="transition-delay:100ms;">
                            <span style="color: #5AC5F2;font-family: Poppins;font-size: 50px;font-style: normal;font-weight: 600;line-height: normal;">+5</span> 
                    experts</div>
            <div class="text-numbers animatedtext col-sm-12 col-md-2 d-flex flex-column justify-content-center align-items-end animation-item" style="transition-delay:200ms;">
                            <span style="text-align:right;color: #5AC5F2;font-family: Poppins;font-size: 50px;font-style: normal;font-weight: 600;line-height: normal;">1</span> 
                ambition</div>

                  </div>
                <div class="row w-100 d-flex justify-content-center">
                    <div class="col-md-6 animation-item animatedtext" style="transition-delay:300ms;">
                    <p class="text-product different-size" style="font-size:23px;font-weight:800; "> 
One common ambition </p>
<p  class="text-product different-size" style="font-size:23px;">
To bring significant progress in the sport and health sectors. There is today no database that brings together such a detailed panel of factors essential to performance. Mauna’s database will enable advanced researches on various sport and health subjects.</p>
</div>                 
</div>
<a href="https://calendly.com/mauna-ai/30min" traget="_blank" style="text-decoration:none;">
                  <button class="become-beta-btn w-auto" >
                    Become a beta tester
                  </button>
                </a>
                </div>
              </div>


   


            <div class="MaunaDataBase">
            
              <div class="become-beta-container" id="become-beta-container">
                <div class="row d-flex justify-content-center w-100">
                  <div class="card-container col-md-3 col-sm-12">
                    <p class="text-card">OBJECTIVES</p>
                    <div class="image-container">
                    <div class="image-text">
                      <ul>
                        <li>Build the database to develop and consolidate our algorithms.</li>
                        <li>Gather and iterate from your feedbacks to release our final app in 2024.</li>
                        <li>Bring endurance sports to the next level.</li>
                        <li>Make you proud to be part of Mauna's community!</li>
                      </ul>
                      </div>
                      <img src="/static/website/carteYvan.png" alt="Carte Yvan" class="image-objective">
                    </div>
                  </div>
                  <div class="card-container col-md-3 col-sm-12">
                    <p class="text-card">IMPLICATIONS</p>
                    <div class="image-container">
                      <div class="image-text">
                        <ul>
                          <li>Input your data every day (nutrition, activity, sleep and overall scores information)</li>
                          <li>Give us feedbacks on your overall experience.</li>
                        </ul>
                      </div>
                      <img src="/static/website/carteSprint.png" alt="Carte Sprint" class="image-objective">
                    </div>
                  </div>
                  <div class="card-container col-md-3 col-sm-12">
                    <p class="text-card">BENEFITS</p>
                    <div class="image-container">
                      <div class="image-text">
                        <ul>
                          <li>Gathering your data in one single place.</li>
                          <li>Having frequent personalised reports.</li>
                          <li>Accessing free physiological tests.</li>
                          <li>Participating to sport science's progresses.</li>
                          <li>Being part of Mauna's pioneers.</li>
                        </ul>
                      </div>
                      <img src="/static/website/carteNageur.png" alt="Carte Nageur" class="image-objective">
                      </div>
                  </div>
                </div>
              </div>
              <div class="btn-container">
                <a href="https://calendly.com/mauna-ai/30min" target="_blank" style="text-decoration:none;">
        
                <button class="become-beta-btn" >Get Started</button>
                </a>
              </div>
            </div>

            {% comment %} <div class='register-container mb-2' id='register-container'>

              <p class='title-register-container'>Become a MAUNA beta-tester.</p>
                                <form action="{% url 'submit_form' %}" method="post" class="row d-flex justify-content-center">
    {% csrf_token %}
              <div class='NameAndMail-boxes-container' id='NameAndMail-boxes-container'>
                <input class='label-box-container' name="name" placeholder="Name">

                </input>
                <input class='label-box-container' name="firstName" placeholder="First name">
                </input>
                <input class='label-box-container' name="email" placeholder="E-mail address">
                </input>
                              <button class="become-beta-btn mt-5"  type="submit"> Register </button>

              </div>
            </form>
            </div> {% endcomment %}
            
            <div class="row w-100 d-flex justify-content-center">

                     <a href="https://www.linkedin.com/company/ai-mauna/" style="width:auto !important;    color: #1A4159;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;" target="_blank" class="m-2"> <span class="fa fa-linkedin"></span></a>
                    <a  href="https://instagram.com/mauna.ai" style="width:auto !important;    color: #1A4159;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;" target="_blank" class="m-2"> <span class="fa fa-instagram"></span></a>
            </div>
          <div class="row w-100 d-flex justify-content-center mb-4 text-center">

               <a  href="{% url 'privacy_policy' %}" style="width:auto !important;    color: #1A4159;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;" >Privacy Policy</a>
          </div>
          </div>
        </div>
        </div>
      </div>

  <script>
function isInViewport(element) {
    const rect = element.getBoundingClientRect();
    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
}

function handleScroll() {
    const elements = document.querySelectorAll('.animate-me');
    let delay = 0.4; // Initial delay
    elements.forEach((element) => {
        if (isInViewport(element)) {
            element.classList.add('fadeIn');
            element.style.animationDelay = `${delay}s`; // Set the animation delay for each element
            delay += 0.4; // Increment delay for the next element
        }
    });
}

window.addEventListener('scroll', handleScroll);
handleScroll();


</script>  



<style>
 .scroll-link {
            display: block;
            margin: 20px 0;
            color: inherit;
            cursor: pointer;
        }
</style>
<script>

    const smoothScrollTo = (element, duration) => {
  const headerHeight = 0; // Adjust according to your layout header height
  const targetPosition = element.getBoundingClientRect().top + window.pageYOffset - headerHeight;
  const startPosition = window.pageYOffset;
  const distance = targetPosition - startPosition;
  let startTime = null;

  const animation = currentTime => {
    if (startTime === null) startTime = currentTime;
    const timeElapsed = currentTime - startTime;
    const run = ease(timeElapsed, startPosition, distance, duration);
    window.scrollTo(0, run);
    if (timeElapsed < duration) requestAnimationFrame(animation);
  };

  const ease = (t, b, c, d) => {
    t /= d / 2;
    if (t < 1) return c / 2 * t * t + b;
    t--;
    return -c / 2 * (t * (t - 2) - 1) + b;
  };

  requestAnimationFrame(animation);
};

const scrollToSection = (nomBouton, nomSection) => {
  console.log("Button clicked:", nomBouton);
  const section = document.getElementById(nomSection);
  if (section) {
    smoothScrollTo(section, 1000); // 1000ms = 1 second for scrolling
  }
};

</script>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.addEventListener('scroll', () => {
      const elements = document.querySelectorAll('.animatedtext');
      
      elements.forEach(element => {
        const bounding = element.getBoundingClientRect();
        const viewportHeight = window.innerHeight || document.documentElement.clientHeight;

        // To trigger the animation when the top of the element reaches the middle of the viewport
        const offset = 0.9;

        if (
          bounding.top >= 0 &&
          bounding.bottom <= viewportHeight &&
          (bounding.top - viewportHeight * offset) <= 0
        ) {
          element.classList.add('animate');
        } else {
          element.classList.remove('animate');
        }
      });
    });
  });
</script>
</body>
</html>