<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   
<style>
body {
    background: #284C64;
    padding-top:20px;
    padding-bottom:20px
}
.titre{
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
p{
    font-size: 12px;
    margin-bottom:0px !important;
}
.bandeau{
    background-color:#385a70;
    color:white;
    border-radius:10px;
    border: 1px solid #49687C;

} 
  </style>
    <title>Onboarding</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>


    <div class="container d-flex flex-column">
        <div class="row justify-content-center">
<img src="../static/images/logo-mauna-white.svg" alt="icone mauna"  class="img-fluid" style="width:60px"  />

        </div>
        <div class="row justify-content-center">

 <div class="titre">MAUNA</div>
   </div>
   <div class="row justify-content-center mt-5 mb-5">
                <img src="../static/images/dessin.png" alt="" class="img-fluid"/>

   </div>

      <div class="row justify-content-center m-2 p-3 bandeau">
<p class="w-100 text-center" style="font-weight:bold" > Tes permiers mois d'utilisation sont offerts !</p>
<p style="color:#5AC5F2" class="w-100 text-center"><a href="{{app_link}}" style="text-decoration:None; color:inherit">link to access the app</a></p>

   </div>

         <div class="row justify-content-center m-2 p-3 bandeau" >
<p style="font-weight:bold" class="w-100 text-center"> Ton mot de passe est: [TEAMNAME]-[NUMBER] </p>
<p class="w-100 text-center" > Exemple: si ton équipe s’appelle TriPerf, et que tu es le numéro 2, ton mdp est “TRIPERF-2”</p>

   </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
        integrity="sha384-C5pdZ4KHzn0t1kdbjWIE5Uo5ZtJV1jfw1lJKWn2KA8VS1yTDB1vZj4VW8sf49VIh"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-pzjw8f+VvXlZ6bm9JDDgFEzFUn7Q4WJYYooC5cpq3HMELmk/toom0hq5uXWqpJqu"
        crossorigin="anonymous"></script>
</body>
</html>