body {
    background: #F1F2F6;
}

.content-container {
  display: flex;
  flex-direction: column; /* Organiser les éléments verticalement */
  align-items: center; /* Centrer horizontalement les éléments */
  justify-content: center; /* Centrer verticalement si nécessaire */
  position: relative;
  top : 0%;
  height: auto; /* Prendre toute la hauteur de la fenêtre de visualisation */
  width: 100vw;

}

.header-container {
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.logo-mauna {
  width: auto; /* ou la taille souhaitée */
  height: auto; /* pour maintenir le ratio d'aspect */

}

.text-mauna {
  color: #1A4159;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.menu-text {
  color: #1A4159;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: var(--Angular-Gradient, conic-gradient(from 186deg at 47.47% 36.4%, rgba(177, 187, 197, 0.00) 1.04192647151649deg, #B1BBC5 53.968722224235535deg, #D6DDE4 163.16468596458435deg, #F0F4F9 218.2460904121399deg));
}


.iceberg-container{
  position: relative;
  top: 0px;
  left: 0;
  width: 1680px;
  height: 895px;
  flex-shrink: 0;
  margin-top: -100px; /* A MODIFIER*/
}

.iceberg-container{
  transform: scale(0.8);
  top: 0%;
  left: 0%;
  /*top: calc(originalTopValue * 0.8);
  left: calc(originalLeftValue * 0.8); /* Réduit à 80% de la taille originale */
  /* Assurez-vous que le positionnement est toujours correct après redimensionnement */
  /* Vous devrez peut-être ajuster les positions top, left, etc. */
}

.icebergImage {
  position: absolute;
  top: 188.29px;
  left: 50%; /* Centré horizontalement */
  transform: translateX(-50%); /* Ajustement pour centrer parfaitement */
  z-index: 4; /* Assurez-vous que cela est au-dessus des fonds */
}



.petitIcebergG {
  position: absolute;
  top: 706px; /* Positionné à 706px du haut */
  left: 0%; /* Centré horizontalement */
  z-index: 4; /* Assurez-vous que cela est au-dessus des fonds */
}

.petitIcebergD {
  position: absolute;
  top: 114px; /* Positionné à 114px du haut */
  left: 92%; /* Centré horizontalement */
  z-index: 4;
}

.carte1 {
  position: absolute;
  top: 48%;
  left: 6%;
  z-index: 4;
}
.carte2 {
  position: absolute;
  top: 36%;
  left: 13%;
}

.carte3 {
  position: absolute;
  top: 22%;
  left: 23%;
}

.carte4 {
  position: absolute;
  top: 15%;
  left: 38%;
}

.carte5 {
  position: absolute;
  top: 15%;
  left: 55%;
}

.carte6 {
  position: absolute;
  top: 29%;
  left: 67%;
}

.carte7 {
  position: absolute;
  top: 19%;
  left: 74%;
}

.carte8 {
  position: absolute;
  top: 40%;
  left: 79%;
}

.carte9 {
  position: absolute;
  top: 48.5%;
  left: 66.3%;
}

.carte10 {
  position: absolute;
  top: 65%;
  left: 62%;
}

.carte11 {
  position: absolute;
  top: 70%;
  left: 49%;
}

.carte12 {
  position: absolute;
  top: 77%;
  left: 31%;
}

.carte13 {
  position: absolute;
  top: 59%;
  left: 17%;
}

.carte14 {
  position: absolute;
  top: 72.5%;
  left: 68%;
}


/*@keyframes flotter {
  0%, 100% {
    transform: translateY(0) scale(1.0);
  }
  50% {
    transform: translateY(-10px) scale(1.05);
  }
}*/

@keyframes flotter1 {
  0% {
    transform: translateX(0px) translateY(-10px) scale(1.05);
  }
  50% {
    transform: translateX(-10px) translateY(-15px) scale(1.05);
  }
  100% {
    transform: translateX(0px) translateY(-10px) scale(1.05);
  }
}

@keyframes flotter2 {
  0% {
    transform: translateX(0px) translateY(+10px) scale(1.05);
  }
  50% {
    transform: translateX(+10px) translateY(+15px) scale(1.05);
  }
  100% {
    transform: translateX(0px) translateY(+10px) scale(1.05);
  }
}

/*.carte1, .carte2, .carte3 /* etc.  {
  animation: flotter 3s ease-in-out infinite;
}*/

/*.carte1 {
  animation: flotter 3s ease-in-out infinite;
}

.carte2 {
  animation: flotter 3s ease-in-out infinite;
  animation-delay: 0.5s; /* Commence l'animation 0.5s plus tard 
}

.carte3 {
  animation: flotter 3s ease-in-out infinite;
  animation-delay: 1s; /* Commence l'animation 1s plus tard
}*/

.carte1 {
  animation: flotter1 3s ease-in-out infinite;
}

.carte2 {
  animation: flotter1 3.5s ease-in-out infinite; /* Durée légèrement plus longue */
}

.carte3 {
  animation: flotter1 4s ease-in-out infinite; /* Durée légèrement plus courte */
}
.carte4 {
  animation: flotter1 3s ease-in-out infinite;
}

.carte5 {
  animation: flotter1 3.5s ease-in-out infinite; /* Durée légèrement plus longue */
}

.carte6 {
  animation: flotter1 4s ease-in-out infinite; /* Durée légèrement plus courte */
}

.carte7 {
  animation: flotter2 3.5s ease-in-out infinite; /* Durée légèrement plus longue */
}

.carte8 {
  animation: flotter2 4s ease-in-out infinite; /* Durée légèrement plus courte */
}
.carte9 {
  animation: flotter2 3s ease-in-out infinite;
}

.carte10 {
  animation: flotter2 3.5s ease-in-out infinite; /* Durée légèrement plus longue */
}

.carte11 {
  animation: flotter2 4s ease-in-out infinite; /* Durée légèrement plus courte */
}

.carte12 {
  animation: flotter2 3s ease-in-out infinite;
}

.carte13 {
  animation: flotter2 3.5s ease-in-out infinite; /* Durée légèrement plus longue */
}

.carte14 {
  animation: flotter2 4s ease-in-out infinite; /* Durée légèrement plus courte */
}


.typewriter-container {
  position: absolute;
  right: 56px;
  color: #1A4159;
  text-align: right;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.typewriter-text {
  overflow: hidden; /* Cache le texte jusqu'à ce qu'il soit "écrit" */
  border-right: .15em solid black; /* Curseur de la machine à écrire */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  animation: typing 1.2s steps(30, end), blink-caret .50s step-end infinite;
}

/* Keyframes pour l'animation de dactylographie */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Keyframes pour l'animation du curseur */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(0, 0, 0, 0); }
}


.get-started-btn {
  display: inline-flex;
  height: 51.84px;
  padding: 8.64px 19.44px;
  justify-content: center;
  align-items: center;
  gap: 10.8px;
  flex-shrink: 0;
  border-radius: 27px;
  background: #1A4159;
  color: white; /* Couleur du texte */
  border: none; /* Supprimer la bordure par défaut */
  cursor: pointer; /* Style du curseur */
  font-size: 16px; /* Taille du texte */
  position: absolute; /* Positionnement absolu */
  top: 715px; /* Position par rapport au haut */
  left: 50%; /* Centré horizontalement */
  transform: translateX(-50%); /* Ajustement pour centrer parfaitement */
  z-index: 4;
}

.secondSection-container {
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.thematics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

/*h1 {
  color: #367698;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-size: 16px; /* Taille du texte pour le paragraphe
  color: #666; /* Couleur du texte
  /* Autres styles pour le paragraphe
}*/

.MaunaSolution-container {
  display: flex;
  padding: 80px 120px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  border-radius: 20px;
  border: 2px solid #5AC5F2;
  background: #001;
}


.TroisLogosAndTexts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 74px;
  align-self: stretch;
}

.LogoAndText-container {
  display: flex;
  align-items: center;
  gap: 104px;
  align-self: stretch;
}

.LogoAndTitre-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 120px;
  height: 120px;
}

.solution-title {
  color: rgba(90, 197, 242, 0.60);
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.solution-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.solution-text {
  flex: 1 0 0;
  color: #819DAF;
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}


.solution-text-list {
  list-style: disc; /* Style des puces */
  padding-left: 16px; /* Espace à gauche pour les puces */
  color: #819DAF;
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.solution-text-list li {
  margin-bottom: 4px; /* Espace entre les éléments de la liste */
}


.MaunaProduct{
  display: flex;
  padding: 80px 56px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  border-radius: 20px;
  border: 2px solid #5AC5F2;
  background: #001;
}

.title-product-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.title-product {
  width: 417px;
  height: 115px;
  color: #819DAF;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.TextAndImage-container {
  display: flex;
  align-items: center;
  gap: 116px;
  align-self: stretch;
}

.text-product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  flex: 1 0 0;
}

.text-product {
  align-self: stretch;
  color: #819DAF;
  text-align: justify;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.image-product-container {
  display: flex;
  height: 251.5776px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-product {
  width: 447.2px;
  height: 251.5776px;
  flex-shrink: 0;
}


.devices-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}


.title-devices-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.title-devices {
  color: #819DAF;
  width: 333.6px;
  height: 92px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.boxes {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}


.box {
  display: flex;
  width: 164px;
  height: 60px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37.5px;
  border-radius: 10px;
  border: 1.25px solid rgba(90, 197, 242, 0.60);
  background: var(--glass-gradient, linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(101deg, rgba(255, 255, 255, 0.15) 1.55%, rgba(255, 255, 255, 0.05) 97.5%));
}


.MaunaDataBase {
  display: flex;
  padding: 80px 56px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  border-radius: 20px;
  border: 2px solid #5AC5F2;
  background: #001;
}

.currentlyBuilding-container {
  display: flex;
  flex-direction: column; /* Empiler les boîtes horizontalmenet */
  align-items: center;
  gap: 30px; /* Espace entre chaque boîte */
  padding: 0px 16px;
  align-self: stretch;
}

.titre-buildingDataBase {
  color: #819DAF;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  flex-shrink: 0;
}

.becomeBetaAndSynch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}

.become-beta-btn {
  display: flex;
  height: 50px;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 27px;
  border: none; /* Supprimer la bordure par défaut */
  background: #1A4159;
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  cursor: pointer; /* Style du curseur */
  font-style: normal;
  line-height: normal;
}



.synchAndNumbers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.logo-synch {
  width: 52.1832px;
  height: 72px;
}

.WithAndNumbers-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.text-numbers {
  color: #819DAF;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

strong, b {
  font-weight: bold;
}

.extra-bold {
  font-weight: 800; /* Les valeurs peuvent varier de 100 à 900 */
}

.Numbers-container {
  display: flex;
  align-items: flex-start;
  gap: 352.4px;
}

/*Become a Beta tester*/

.become-beta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53.6px;
  align-self: stretch;
}

.titre-become-beta-container {
  display: flex;
  padding: 0px 16px;
  align-items: flex-start;
  gap: 447.2px;
  align-self: stretch;
}

.titre-become-beta {
  width: 333.6px;
  height: 92x;
  flex-shrink: 0;
  color: #819DAF;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.triptych-cards-container {
  display: flex;
  padding: 0px 40px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex: 1 0 0;
}

.text-card {
  color: #5AC5F2;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s ease; /* Transition lisse pour l'opacité */
  transition: transform 0.3s ease;/* Transition fluide pour l'effet de zoom */
}

.image-objective {
  width: 337.6032px;
  height: 564.5544px;
  border-radius: 22.2672px;
  background: url(/), lightgray 50% / cover no-repeat;
}

.image-text {
  /*padding:30px 50px ;
  color: #819DAF;
  text-align: justify;
  width: 300px;
  position: absolute;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Initialement masqué
  transition: opacity 0.5s ease; /* Transition lisse pour l'opacité */
  position: absolute;
  width: 300px;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
 
  font-weight: 300;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: #819daf;
  /*background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  padding: 50px 20px; /* Espace à gauche et à droite à l'intérieur du conteneur */
}

.image-text ul {
  list-style-type: disc; /* Style des puces */
  padding-left: 20px; /* Espace pour les puces */
  text-align: left; /* Alignement du texte */
  margin: 0 20px; /* Espace à gauche et à droite */
}

.image-text li {
  margin-bottom: 20px; /* Espace entre les puces */
}

.image-container:hover .image-objective {
  opacity: 0.3; /* Assombrir l'image */
  transform: scale(1.05)
}

.image-container:hover .image-text {
  opacity: 1; /* Afficher le texte */
}

.btn-container {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 50%;
  align-self: stretch;
}

.register-container {
  display: flex;
  padding: 80px 56px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  border-radius: 20px;
  border: 2px solid #5AC5F2;
  background: #001;
}

.title-register-container {
  width: 347.5px;
  height: 115px;
  color: #819DAF;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.NameAndMail-boxes-container {
  display: flex;
  width: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.label-box-container {
  display: flex;
  padding: 6px 16px;
  height: 40px;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1.5px solid #5AC5F2;
  background: var(--glass-gradient, linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(101deg, rgba(255, 255, 255, 0.15) 1.55%, rgba(255, 255, 255, 0.05) 97.5%));
}

.label {
  color: rgba(255, 255, 255, 0.50);

  /* label */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}



@media (max-width: 800px) {
  .petitIcebergG, .petitIcebergD, .icebergImage, .carte1, .carte2, .carte3, .carte4, .carte5, .carte6, .carte7, .carte8, .carte9, .carte10, .carte11, .carte12, .carte13, .carte14 {
    position: absolute;
  }
}
